<?xml version='1.0' encoding='UTF-8'?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>public.kern1.A</key>
    <array>
      <string>A</string>
      <string>Agrave</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Atilde</string>
      <string>Adieresis</string>
      <string>Aring</string>
      <string>Amacron</string>
      <string>Abreve</string>
      <string>Aogonek</string>
      <string>uni01CD</string>
      <string>uni1EA0</string>
      <string>uni1EAA</string>
      <string>uni1EB0</string>
    </array>
    <key>public.kern1.B</key>
    <array>
      <string>B</string>
      <string>uni1E02</string>
    </array>
    <key>public.kern1.C</key>
    <array>
      <string>C</string>
      <string>Ccedilla</string>
      <string>Cacute</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>Ccaron</string>
    </array>
    <key>public.kern1.D</key>
    <array>
      <string>D</string>
      <string>Eth</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>uni1E0A</string>
      <string>uni1E0C</string>
      <string>uni1E0E</string>
      <string>uni1E10</string>
    </array>
    <key>public.kern1.E</key>
    <array>
      <string>E</string>
      <string>AE</string>
      <string>Egrave</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Emacron</string>
      <string>Ebreve</string>
      <string>Edotaccent</string>
      <string>Eogonek</string>
      <string>Ecaron</string>
      <string>OE</string>
      <string>AEacute</string>
      <string>uni1EB8</string>
      <string>uni1EBC</string>
      <string>uni1EC4</string>
    </array>
    <key>public.kern1.F</key>
    <array>
      <string>F</string>
      <string>uni1E1E</string>
    </array>
    <key>public.kern1.G</key>
    <array>
      <string>G</string>
      <string>Gcircumflex</string>
      <string>Gbreve</string>
      <string>Gdotaccent</string>
      <string>uni0122</string>
      <string>Gcaron</string>
      <string>uni1E20</string>
    </array>
    <key>public.kern1.H</key>
    <array>
      <string>H</string>
      <string>I</string>
      <string>M</string>
      <string>N</string>
      <string>Igrave</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Ntilde</string>
      <string>Hcircumflex</string>
      <string>Hbar</string>
      <string>Itilde</string>
      <string>Imacron</string>
      <string>Ibreve</string>
      <string>Iogonek</string>
      <string>Idotaccent</string>
      <string>Nacute</string>
      <string>uni0145</string>
      <string>Ncaron</string>
      <string>Eng</string>
      <string>uni0197</string>
      <string>uni019D</string>
      <string>uni01CF</string>
      <string>uni01F8</string>
      <string>uni021E</string>
      <string>uni1E22</string>
      <string>uni1E24</string>
      <string>uni1E2A</string>
      <string>uni1E3E</string>
      <string>uni1E40</string>
      <string>uni1E42</string>
      <string>uni1E44</string>
      <string>uni1E46</string>
      <string>uni1E48</string>
      <string>uni1ECA</string>
    </array>
    <key>public.kern1.J</key>
    <array>
      <string>J</string>
      <string>IJ</string>
      <string>Jcircumflex</string>
      <string>uni004A0301</string>
    </array>
    <key>public.kern1.K</key>
    <array>
      <string>K</string>
      <string>uni0136</string>
      <string>uni01E8</string>
    </array>
    <key>public.kern1.L</key>
    <array>
      <string>L</string>
      <string>Lacute</string>
      <string>uni013B</string>
      <string>Lcaron</string>
      <string>Ldot</string>
      <string>Lslash</string>
      <string>uni1E36</string>
      <string>uni1E38</string>
      <string>uni1E3A</string>
    </array>
    <key>public.kern1.O</key>
    <array>
      <string>O</string>
      <string>Q</string>
      <string>Ograve</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Otilde</string>
      <string>Odieresis</string>
      <string>Oslash</string>
      <string>Omacron</string>
      <string>Obreve</string>
      <string>Ohungarumlaut</string>
      <string>uni018F</string>
      <string>uni01D1</string>
      <string>uni01EA</string>
      <string>Oslashacute</string>
      <string>uni022E</string>
      <string>uni1ECC</string>
      <string>uni1ED6</string>
    </array>
    <key>public.kern1.P</key>
    <array>
      <string>P</string>
      <string>uni1E56</string>
    </array>
    <key>public.kern1.R</key>
    <array>
      <string>R</string>
      <string>Racute</string>
      <string>uni0156</string>
      <string>Rcaron</string>
      <string>uni1E5A</string>
      <string>uni1E5C</string>
      <string>uni1E5E</string>
    </array>
    <key>public.kern1.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scircumflex</string>
      <string>Scedilla</string>
      <string>Scaron</string>
      <string>uni0218</string>
      <string>uni1E60</string>
      <string>uni1E62</string>
    </array>
    <key>public.kern1.T</key>
    <array>
      <string>T</string>
      <string>uni0162</string>
      <string>Tcaron</string>
      <string>Tbar</string>
      <string>uni021A</string>
      <string>uni1E6A</string>
      <string>uni1E6C</string>
      <string>uni1E6E</string>
    </array>
    <key>public.kern1.Thorn</key>
    <array>
      <string>Thorn</string>
    </array>
    <key>public.kern1.U</key>
    <array>
      <string>U</string>
      <string>Ugrave</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Utilde</string>
      <string>Umacron</string>
      <string>Ubreve</string>
      <string>Uring</string>
      <string>Uhungarumlaut</string>
      <string>Uogonek</string>
      <string>uni01D3</string>
      <string>uni0244</string>
      <string>uni1EE4</string>
    </array>
    <key>public.kern1.V</key>
    <array>
      <string>V</string>
      <string>uni1E7C</string>
    </array>
    <key>public.kern1.W</key>
    <array>
      <string>W</string>
      <string>Wcircumflex</string>
      <string>Wgrave</string>
      <string>Wacute</string>
      <string>Wdieresis</string>
    </array>
    <key>public.kern1.X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern1.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>uni0232</string>
      <string>Ygrave</string>
      <string>uni1EF8</string>
    </array>
    <key>public.kern1.Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zdotaccent</string>
      <string>Zcaron</string>
      <string>uni1E92</string>
    </array>
    <key>public.kern1.a</key>
    <array>
      <string>a</string>
      <string>agrave</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>atilde</string>
      <string>adieresis</string>
      <string>aring</string>
      <string>amacron</string>
      <string>abreve</string>
      <string>aogonek</string>
      <string>uni01CE</string>
      <string>uni1EA1</string>
      <string>uni1EAB</string>
    </array>
    <key>public.kern1.a.ss01</key>
    <array>
      <string>a.ss01</string>
      <string>agrave.ss01</string>
      <string>aacute.ss01</string>
      <string>acircumflex.ss01</string>
      <string>atilde.ss01</string>
      <string>adieresis.ss01</string>
      <string>aring.ss01</string>
      <string>amacron.ss01</string>
      <string>abreve.ss01</string>
      <string>aogonek.ss01</string>
      <string>uni01CE.ss01</string>
      <string>uni1EA1.ss01</string>
      <string>uni1EAB.ss01</string>
    </array>
    <key>public.kern1.ampersand</key>
    <array>
      <string>ampersand</string>
    </array>
    <key>public.kern1.asterisk</key>
    <array>
      <string>asterisk</string>
    </array>
    <key>public.kern1.at</key>
    <array>
      <string>at</string>
    </array>
    <key>public.kern1.at.case</key>
    <array>
      <string>at.case</string>
    </array>
    <key>public.kern1.b</key>
    <array>
      <string>b</string>
      <string>p</string>
      <string>thorn</string>
      <string>uni1E03</string>
      <string>uni1E57</string>
    </array>
    <key>public.kern1.backslash</key>
    <array>
      <string>backslash</string>
    </array>
    <key>public.kern1.braceleft</key>
    <array>
      <string>braceleft</string>
    </array>
    <key>public.kern1.braceleft.case</key>
    <array>
      <string>braceleft.case</string>
    </array>
    <key>public.kern1.braceright</key>
    <array>
      <string>braceright</string>
    </array>
    <key>public.kern1.braceright.case</key>
    <array>
      <string>braceright.case</string>
    </array>
    <key>public.kern1.bracketleft</key>
    <array>
      <string>bracketleft</string>
    </array>
    <key>public.kern1.bracketleft.case</key>
    <array>
      <string>bracketleft.case</string>
    </array>
    <key>public.kern1.bracketright</key>
    <array>
      <string>bracketright</string>
    </array>
    <key>public.kern1.bracketright.case</key>
    <array>
      <string>bracketright.case</string>
    </array>
    <key>public.kern1.c</key>
    <array>
      <string>c</string>
      <string>ccedilla</string>
      <string>cacute</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>ccaron</string>
    </array>
    <key>public.kern1.colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern1.comma</key>
    <array>
      <string>comma</string>
      <string>period</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
      <string>ellipsis</string>
    </array>
    <key>public.kern1.copyright</key>
    <array>
      <string>copyright</string>
      <string>registered</string>
    </array>
    <key>public.kern1.d</key>
    <array>
      <string>d</string>
      <string>dcaron</string>
      <string>dcroat</string>
      <string>uni1E0B</string>
      <string>uni1E0D</string>
      <string>uni1E0F</string>
      <string>uni1E11</string>
      <string>l.ss02</string>
      <string>lacute.ss02</string>
      <string>lcaron.ss02</string>
      <string>uni013C.ss02</string>
      <string>uni1E37.ss02</string>
      <string>uni1E39.ss02</string>
      <string>uni1E3B.ss02</string>
      <string>fl.ss02</string>
    </array>
    <key>public.kern1.e</key>
    <array>
      <string>e</string>
      <string>ae</string>
      <string>egrave</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>emacron</string>
      <string>ebreve</string>
      <string>edotaccent</string>
      <string>eogonek</string>
      <string>ecaron</string>
      <string>oe</string>
      <string>aeacute</string>
      <string>uni1EB9</string>
      <string>uni1EBD</string>
      <string>uni1EC5</string>
    </array>
    <key>public.kern1.eight</key>
    <array>
      <string>eight</string>
    </array>
    <key>public.kern1.eight.pnum</key>
    <array>
      <string>eight.osf</string>
      <string>eight.tosf</string>
    </array>
    <key>public.kern1.eth</key>
    <array>
      <string>eth</string>
    </array>
    <key>public.kern1.exclamdown</key>
    <array>
      <string>exclamdown</string>
    </array>
    <key>public.kern1.f</key>
    <array>
      <string>f</string>
      <string>uni1E1F</string>
    </array>
    <key>public.kern1.five</key>
    <array>
      <string>five</string>
    </array>
    <key>public.kern1.four</key>
    <array>
      <string>four</string>
    </array>
    <key>public.kern1.four.pnum</key>
    <array>
      <string>four.osf</string>
      <string>four.tosf</string>
    </array>
    <key>public.kern1.fraction</key>
    <array>
      <string>fraction</string>
    </array>
    <key>public.kern1.g</key>
    <array>
      <string>g</string>
      <string>gcircumflex</string>
      <string>gbreve</string>
      <string>gdotaccent</string>
      <string>uni0123</string>
      <string>gcaron</string>
      <string>uni1E21</string>
    </array>
    <key>public.kern1.germandbls</key>
    <array>
      <string>germandbls</string>
    </array>
    <key>public.kern1.guillemotleft</key>
    <array>
      <string>guillemotleft</string>
      <string>guilsinglleft</string>
      <string>guillemotleft.case</string>
      <string>guilsinglleft.case</string>
    </array>
    <key>public.kern1.guillemotright</key>
    <array>
      <string>guillemotright</string>
      <string>guilsinglright</string>
      <string>guillemotright.case</string>
      <string>guilsinglright.case</string>
    </array>
    <key>public.kern1.h</key>
    <array>
      <string>h</string>
      <string>m</string>
      <string>n</string>
      <string>ntilde</string>
      <string>hcircumflex</string>
      <string>hbar</string>
      <string>nacute</string>
      <string>uni0146</string>
      <string>ncaron</string>
      <string>eng</string>
      <string>uni01F9</string>
      <string>uni021F</string>
      <string>uni0272</string>
      <string>uni1E23</string>
      <string>uni1E25</string>
      <string>uni1E2B</string>
      <string>uni1E3F</string>
      <string>uni1E41</string>
      <string>uni1E43</string>
      <string>uni1E45</string>
      <string>uni1E47</string>
      <string>uni1E49</string>
    </array>
    <key>public.kern1.hyphen</key>
    <array>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
    </array>
    <key>public.kern1.hyphen.case</key>
    <array>
      <string>hyphen.case</string>
      <string>endash.case</string>
      <string>emdash.case</string>
    </array>
    <key>public.kern1.i</key>
    <array>
      <string>i</string>
      <string>j</string>
      <string>igrave</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>itilde</string>
      <string>imacron</string>
      <string>ibreve</string>
      <string>iogonek</string>
      <string>dotlessi</string>
      <string>ij</string>
      <string>jcircumflex</string>
      <string>uni01D0</string>
      <string>uni0237</string>
      <string>uni0268</string>
      <string>uni1ECB</string>
      <string>fi</string>
      <string>uni006A0301</string>
    </array>
    <key>public.kern1.k</key>
    <array>
      <string>k</string>
      <string>uni0137</string>
      <string>uni01E9</string>
    </array>
    <key>public.kern1.l</key>
    <array>
      <string>l</string>
      <string>lacute</string>
      <string>uni013C</string>
      <string>lcaron</string>
      <string>uni1E37</string>
      <string>uni1E39</string>
      <string>uni1E3B</string>
      <string>fl</string>
    </array>
    <key>public.kern1.lslash</key>
    <array>
      <string>lslash</string>
    </array>
    <key>public.kern1.lslash.ss02</key>
    <array>
      <string>lslash.ss02</string>
    </array>
    <key>public.kern1.nine</key>
    <array>
      <string>nine</string>
    </array>
    <key>public.kern1.nine.pnum</key>
    <array>
      <string>nine.osf</string>
      <string>nine.tosf</string>
    </array>
    <key>public.kern1.o</key>
    <array>
      <string>o</string>
      <string>ograve</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>otilde</string>
      <string>odieresis</string>
      <string>oslash</string>
      <string>omacron</string>
      <string>obreve</string>
      <string>ohungarumlaut</string>
      <string>uni01D2</string>
      <string>uni01EB</string>
      <string>oslashacute</string>
      <string>uni022F</string>
      <string>uni0259</string>
      <string>uni1ECD</string>
      <string>uni1ED7</string>
    </array>
    <key>public.kern1.one</key>
    <array>
      <string>one</string>
    </array>
    <key>public.kern1.parenleft</key>
    <array>
      <string>parenleft</string>
    </array>
    <key>public.kern1.parenleft.case</key>
    <array>
      <string>parenleft.case</string>
    </array>
    <key>public.kern1.periodcentered</key>
    <array>
      <string>periodcentered</string>
    </array>
    <key>public.kern1.periodcentered.case</key>
    <array>
      <string>periodcentered.case</string>
    </array>
    <key>public.kern1.q</key>
    <array>
      <string>q</string>
      <string>u</string>
      <string>ugrave</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>utilde</string>
      <string>umacron</string>
      <string>ubreve</string>
      <string>uring</string>
      <string>uhungarumlaut</string>
      <string>uogonek</string>
      <string>uni01D4</string>
      <string>uni0289</string>
      <string>uni03BC</string>
      <string>uni1EE5</string>
    </array>
    <key>public.kern1.question</key>
    <array>
      <string>question</string>
    </array>
    <key>public.kern1.questiondown</key>
    <array>
      <string>questiondown</string>
    </array>
    <key>public.kern1.questiondown.case</key>
    <array>
      <string>questiondown.case</string>
    </array>
    <key>public.kern1.quotedbl</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>minute</string>
      <string>second</string>
    </array>
    <key>public.kern1.quoteleft</key>
    <array>
      <string>quoteleft</string>
      <string>quotedblleft</string>
    </array>
    <key>public.kern1.quoteright</key>
    <array>
      <string>quoteright</string>
      <string>quotedblright</string>
    </array>
    <key>public.kern1.r</key>
    <array>
      <string>r</string>
      <string>racute</string>
      <string>uni0157</string>
      <string>rcaron</string>
      <string>uni1E5B</string>
      <string>uni1E5D</string>
      <string>uni1E5F</string>
    </array>
    <key>public.kern1.s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scircumflex</string>
      <string>scedilla</string>
      <string>scaron</string>
      <string>uni0219</string>
      <string>uni1E61</string>
      <string>uni1E63</string>
    </array>
    <key>public.kern1.seven</key>
    <array>
      <string>seven</string>
    </array>
    <key>public.kern1.seven.pnum</key>
    <array>
      <string>seven.osf</string>
      <string>seven.tosf</string>
    </array>
    <key>public.kern1.six</key>
    <array>
      <string>six</string>
    </array>
    <key>public.kern1.slash</key>
    <array>
      <string>slash</string>
    </array>
    <key>public.kern1.space</key>
    <array>
      <string>space</string>
      <string>uni00A0</string>
    </array>
    <key>public.kern1.t</key>
    <array>
      <string>t</string>
      <string>uni0163</string>
      <string>tcaron</string>
      <string>tbar</string>
      <string>uni021B</string>
      <string>uni1E6B</string>
      <string>uni1E6D</string>
      <string>uni1E6F</string>
      <string>uni1E97</string>
    </array>
    <key>public.kern1.three</key>
    <array>
      <string>three</string>
    </array>
    <key>public.kern1.three.pnum</key>
    <array>
      <string>three.osf</string>
      <string>three.tosf</string>
    </array>
    <key>public.kern1.two</key>
    <array>
      <string>two</string>
    </array>
    <key>public.kern1.two.pnum</key>
    <array>
      <string>two.osf</string>
      <string>two.tosf</string>
    </array>
    <key>public.kern1.underscore</key>
    <array>
      <string>underscore</string>
    </array>
    <key>public.kern1.uni00B2</key>
    <array>
      <string>uni00B2</string>
      <string>uni00B3</string>
      <string>uni00B9</string>
      <string>uni2070</string>
      <string>uni2074</string>
      <string>uni2075</string>
      <string>uni2076</string>
      <string>uni2077</string>
      <string>uni2078</string>
      <string>uni2079</string>
    </array>
    <key>public.kern1.uni0190</key>
    <array>
      <string>uni0190</string>
    </array>
    <key>public.kern1.uni025B</key>
    <array>
      <string>uni025B</string>
    </array>
    <key>public.kern1.uni1E9E</key>
    <array>
      <string>uni1E9E</string>
    </array>
    <key>public.kern1.uni2080</key>
    <array>
      <string>uni2080</string>
      <string>uni2081</string>
      <string>uni2082</string>
      <string>uni2083</string>
      <string>uni2084</string>
      <string>uni2085</string>
      <string>uni2086</string>
      <string>uni2087</string>
      <string>uni2088</string>
      <string>uni2089</string>
    </array>
    <key>public.kern1.v</key>
    <array>
      <string>v</string>
      <string>uni1E7D</string>
    </array>
    <key>public.kern1.w</key>
    <array>
      <string>w</string>
      <string>wcircumflex</string>
      <string>wgrave</string>
      <string>wacute</string>
      <string>wdieresis</string>
    </array>
    <key>public.kern1.x</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern1.y</key>
    <array>
      <string>y</string>
      <string>yacute</string>
      <string>ydieresis</string>
      <string>ycircumflex</string>
      <string>uni0233</string>
      <string>ygrave</string>
      <string>uni1EF9</string>
    </array>
    <key>public.kern1.z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zdotaccent</string>
      <string>zcaron</string>
      <string>uni1E93</string>
    </array>
    <key>public.kern1.zero</key>
    <array>
      <string>zero</string>
      <string>zero.zero</string>
    </array>
    <key>public.kern1.zero.dnom</key>
    <array>
      <string>zero.dnom</string>
      <string>one.dnom</string>
      <string>two.dnom</string>
      <string>three.dnom</string>
      <string>four.dnom</string>
      <string>five.dnom</string>
      <string>six.dnom</string>
      <string>seven.dnom</string>
      <string>eight.dnom</string>
      <string>nine.dnom</string>
    </array>
    <key>public.kern1.zero.numr</key>
    <array>
      <string>zero.numr</string>
      <string>one.numr</string>
      <string>two.numr</string>
      <string>three.numr</string>
      <string>four.numr</string>
      <string>five.numr</string>
      <string>six.numr</string>
      <string>seven.numr</string>
      <string>eight.numr</string>
      <string>nine.numr</string>
    </array>
    <key>public.kern1.zero.pnum</key>
    <array>
      <string>zero.osf</string>
      <string>zero.tosf</string>
    </array>
    <key>public.kern2.A</key>
    <array>
      <string>A</string>
      <string>Agrave</string>
      <string>Aacute</string>
      <string>Acircumflex</string>
      <string>Atilde</string>
      <string>Adieresis</string>
      <string>Aring</string>
      <string>Amacron</string>
      <string>Abreve</string>
      <string>Aogonek</string>
      <string>uni01CD</string>
      <string>uni1EA0</string>
      <string>uni1EAA</string>
      <string>uni1EB0</string>
    </array>
    <key>public.kern2.AE</key>
    <array>
      <string>AE</string>
      <string>AEacute</string>
    </array>
    <key>public.kern2.B</key>
    <array>
      <string>B</string>
      <string>D</string>
      <string>E</string>
      <string>F</string>
      <string>H</string>
      <string>I</string>
      <string>K</string>
      <string>L</string>
      <string>M</string>
      <string>N</string>
      <string>P</string>
      <string>R</string>
      <string>Egrave</string>
      <string>Eacute</string>
      <string>Ecircumflex</string>
      <string>Edieresis</string>
      <string>Igrave</string>
      <string>Iacute</string>
      <string>Icircumflex</string>
      <string>Idieresis</string>
      <string>Eth</string>
      <string>Ntilde</string>
      <string>Thorn</string>
      <string>Dcaron</string>
      <string>Dcroat</string>
      <string>Emacron</string>
      <string>Ebreve</string>
      <string>Edotaccent</string>
      <string>Eogonek</string>
      <string>Ecaron</string>
      <string>Hcircumflex</string>
      <string>Hbar</string>
      <string>Itilde</string>
      <string>Imacron</string>
      <string>Ibreve</string>
      <string>Iogonek</string>
      <string>Idotaccent</string>
      <string>IJ</string>
      <string>uni0136</string>
      <string>Lacute</string>
      <string>uni013B</string>
      <string>Lcaron</string>
      <string>Ldot</string>
      <string>Nacute</string>
      <string>uni0145</string>
      <string>Ncaron</string>
      <string>Eng</string>
      <string>Racute</string>
      <string>uni0156</string>
      <string>Rcaron</string>
      <string>uni0197</string>
      <string>uni019D</string>
      <string>uni01CF</string>
      <string>uni01E8</string>
      <string>uni01F8</string>
      <string>uni021E</string>
      <string>uni1E02</string>
      <string>uni1E0A</string>
      <string>uni1E0C</string>
      <string>uni1E0E</string>
      <string>uni1E10</string>
      <string>uni1E1E</string>
      <string>uni1E22</string>
      <string>uni1E24</string>
      <string>uni1E2A</string>
      <string>uni1E36</string>
      <string>uni1E38</string>
      <string>uni1E3A</string>
      <string>uni1E3E</string>
      <string>uni1E40</string>
      <string>uni1E42</string>
      <string>uni1E44</string>
      <string>uni1E46</string>
      <string>uni1E48</string>
      <string>uni1E56</string>
      <string>uni1E5A</string>
      <string>uni1E5C</string>
      <string>uni1E5E</string>
      <string>uni1E9E</string>
      <string>uni1EB8</string>
      <string>uni1EBC</string>
      <string>uni1EC4</string>
      <string>uni1ECA</string>
      <string>uni2116</string>
      <string>germandbls.calt</string>
    </array>
    <key>public.kern2.C</key>
    <array>
      <string>C</string>
      <string>Ccedilla</string>
      <string>Cacute</string>
      <string>Ccircumflex</string>
      <string>Cdotaccent</string>
      <string>Ccaron</string>
    </array>
    <key>public.kern2.G</key>
    <array>
      <string>G</string>
      <string>Gcircumflex</string>
      <string>Gbreve</string>
      <string>Gdotaccent</string>
      <string>uni0122</string>
      <string>Gcaron</string>
      <string>uni1E20</string>
    </array>
    <key>public.kern2.J</key>
    <array>
      <string>J</string>
      <string>Jcircumflex</string>
      <string>uni004A0301</string>
    </array>
    <key>public.kern2.Lslash</key>
    <array>
      <string>Lslash</string>
    </array>
    <key>public.kern2.O</key>
    <array>
      <string>O</string>
      <string>Q</string>
      <string>Ograve</string>
      <string>Oacute</string>
      <string>Ocircumflex</string>
      <string>Otilde</string>
      <string>Odieresis</string>
      <string>Oslash</string>
      <string>Omacron</string>
      <string>Obreve</string>
      <string>Ohungarumlaut</string>
      <string>OE</string>
      <string>uni01D1</string>
      <string>uni01EA</string>
      <string>Oslashacute</string>
      <string>uni022E</string>
      <string>uni1ECC</string>
      <string>uni1ED6</string>
    </array>
    <key>public.kern2.S</key>
    <array>
      <string>S</string>
      <string>Sacute</string>
      <string>Scircumflex</string>
      <string>Scedilla</string>
      <string>Scaron</string>
      <string>uni0218</string>
      <string>uni1E60</string>
      <string>uni1E62</string>
    </array>
    <key>public.kern2.T</key>
    <array>
      <string>T</string>
      <string>uni0162</string>
      <string>Tcaron</string>
      <string>Tbar</string>
      <string>uni021A</string>
      <string>uni1E6A</string>
      <string>uni1E6C</string>
      <string>uni1E6E</string>
    </array>
    <key>public.kern2.U</key>
    <array>
      <string>U</string>
      <string>Ugrave</string>
      <string>Uacute</string>
      <string>Ucircumflex</string>
      <string>Udieresis</string>
      <string>Utilde</string>
      <string>Umacron</string>
      <string>Ubreve</string>
      <string>Uring</string>
      <string>Uhungarumlaut</string>
      <string>Uogonek</string>
      <string>uni01D3</string>
      <string>uni0244</string>
      <string>uni1EE4</string>
    </array>
    <key>public.kern2.V</key>
    <array>
      <string>V</string>
      <string>uni1E7C</string>
    </array>
    <key>public.kern2.W</key>
    <array>
      <string>W</string>
      <string>Wcircumflex</string>
      <string>Wgrave</string>
      <string>Wacute</string>
      <string>Wdieresis</string>
    </array>
    <key>public.kern2.X</key>
    <array>
      <string>X</string>
    </array>
    <key>public.kern2.Y</key>
    <array>
      <string>Y</string>
      <string>Yacute</string>
      <string>Ycircumflex</string>
      <string>Ydieresis</string>
      <string>uni0232</string>
      <string>Ygrave</string>
      <string>uni1EF8</string>
    </array>
    <key>public.kern2.Z</key>
    <array>
      <string>Z</string>
      <string>Zacute</string>
      <string>Zdotaccent</string>
      <string>Zcaron</string>
      <string>uni1E92</string>
    </array>
    <key>public.kern2.a</key>
    <array>
      <string>a</string>
      <string>agrave</string>
      <string>aacute</string>
      <string>acircumflex</string>
      <string>atilde</string>
      <string>adieresis</string>
      <string>aring</string>
      <string>ae</string>
      <string>amacron</string>
      <string>abreve</string>
      <string>aogonek</string>
      <string>uni01CE</string>
      <string>aeacute</string>
      <string>uni1EA1</string>
      <string>uni1EAB</string>
    </array>
    <key>public.kern2.ampersand</key>
    <array>
      <string>ampersand</string>
    </array>
    <key>public.kern2.asterisk</key>
    <array>
      <string>asterisk</string>
    </array>
    <key>public.kern2.at</key>
    <array>
      <string>at</string>
    </array>
    <key>public.kern2.at.case</key>
    <array>
      <string>at.case</string>
    </array>
    <key>public.kern2.b</key>
    <array>
      <string>b</string>
      <string>h</string>
      <string>k</string>
      <string>germandbls</string>
      <string>thorn</string>
      <string>hcircumflex</string>
      <string>hbar</string>
      <string>uni0137</string>
      <string>uni01E9</string>
      <string>uni021F</string>
      <string>uni1E03</string>
      <string>uni1E23</string>
      <string>uni1E25</string>
      <string>uni1E2B</string>
      <string>l.ss02</string>
      <string>lacute.ss02</string>
      <string>lcaron.ss02</string>
      <string>uni013C.ss02</string>
      <string>ldot.ss02</string>
      <string>uni1E37.ss02</string>
      <string>uni1E39.ss02</string>
      <string>uni1E3B.ss02</string>
    </array>
    <key>public.kern2.backslash</key>
    <array>
      <string>backslash</string>
    </array>
    <key>public.kern2.braceleft</key>
    <array>
      <string>braceleft</string>
    </array>
    <key>public.kern2.braceleft.case</key>
    <array>
      <string>braceleft.case</string>
    </array>
    <key>public.kern2.braceright</key>
    <array>
      <string>braceright</string>
    </array>
    <key>public.kern2.braceright.case</key>
    <array>
      <string>braceright.case</string>
    </array>
    <key>public.kern2.bracketleft</key>
    <array>
      <string>bracketleft</string>
    </array>
    <key>public.kern2.bracketleft.case</key>
    <array>
      <string>bracketleft.case</string>
    </array>
    <key>public.kern2.bracketright</key>
    <array>
      <string>bracketright</string>
    </array>
    <key>public.kern2.bracketright.case</key>
    <array>
      <string>bracketright.case</string>
    </array>
    <key>public.kern2.c</key>
    <array>
      <string>c</string>
      <string>ccedilla</string>
      <string>cacute</string>
      <string>ccircumflex</string>
      <string>cdotaccent</string>
      <string>ccaron</string>
    </array>
    <key>public.kern2.colon</key>
    <array>
      <string>colon</string>
      <string>semicolon</string>
    </array>
    <key>public.kern2.comma</key>
    <array>
      <string>comma</string>
      <string>period</string>
      <string>quotesinglbase</string>
      <string>quotedblbase</string>
      <string>ellipsis</string>
    </array>
    <key>public.kern2.copyright</key>
    <array>
      <string>copyright</string>
      <string>registered</string>
    </array>
    <key>public.kern2.d</key>
    <array>
      <string>d</string>
      <string>q</string>
      <string>dcaron</string>
      <string>dcroat</string>
      <string>uni1E0B</string>
      <string>uni1E0D</string>
      <string>uni1E0F</string>
      <string>uni1E11</string>
      <string>a.ss01</string>
      <string>agrave.ss01</string>
      <string>aacute.ss01</string>
      <string>acircumflex.ss01</string>
      <string>atilde.ss01</string>
      <string>adieresis.ss01</string>
      <string>aring.ss01</string>
      <string>amacron.ss01</string>
      <string>abreve.ss01</string>
      <string>aogonek.ss01</string>
      <string>uni01CE.ss01</string>
      <string>uni1EA1.ss01</string>
      <string>uni1EAB.ss01</string>
    </array>
    <key>public.kern2.dagger</key>
    <array>
      <string>dagger</string>
    </array>
    <key>public.kern2.daggerdbl</key>
    <array>
      <string>daggerdbl</string>
    </array>
    <key>public.kern2.e</key>
    <array>
      <string>e</string>
      <string>o</string>
      <string>egrave</string>
      <string>eacute</string>
      <string>ecircumflex</string>
      <string>edieresis</string>
      <string>ograve</string>
      <string>oacute</string>
      <string>ocircumflex</string>
      <string>otilde</string>
      <string>odieresis</string>
      <string>oslash</string>
      <string>emacron</string>
      <string>ebreve</string>
      <string>edotaccent</string>
      <string>eogonek</string>
      <string>ecaron</string>
      <string>omacron</string>
      <string>obreve</string>
      <string>ohungarumlaut</string>
      <string>oe</string>
      <string>uni01D2</string>
      <string>uni01EB</string>
      <string>oslashacute</string>
      <string>uni022F</string>
      <string>uni1EB9</string>
      <string>uni1EBD</string>
      <string>uni1EC5</string>
      <string>uni1ECD</string>
      <string>uni1ED7</string>
    </array>
    <key>public.kern2.eight</key>
    <array>
      <string>eight</string>
    </array>
    <key>public.kern2.eight.pnum</key>
    <array>
      <string>eight.osf</string>
      <string>eight.tosf</string>
    </array>
    <key>public.kern2.eth</key>
    <array>
      <string>eth</string>
    </array>
    <key>public.kern2.exclamdown</key>
    <array>
      <string>exclamdown</string>
    </array>
    <key>public.kern2.f</key>
    <array>
      <string>f</string>
      <string>uni1E1F</string>
      <string>fi</string>
      <string>fl</string>
      <string>fl.ss02</string>
    </array>
    <key>public.kern2.five</key>
    <array>
      <string>five</string>
    </array>
    <key>public.kern2.five.pnum</key>
    <array>
      <string>five.osf</string>
      <string>five.tosf</string>
    </array>
    <key>public.kern2.florin</key>
    <array>
      <string>florin</string>
    </array>
    <key>public.kern2.four</key>
    <array>
      <string>four</string>
    </array>
    <key>public.kern2.four.pnum</key>
    <array>
      <string>four.osf</string>
      <string>four.tosf</string>
    </array>
    <key>public.kern2.fraction</key>
    <array>
      <string>fraction</string>
    </array>
    <key>public.kern2.g</key>
    <array>
      <string>g</string>
      <string>gcircumflex</string>
      <string>gbreve</string>
      <string>gdotaccent</string>
      <string>uni0123</string>
      <string>gcaron</string>
      <string>uni1E21</string>
    </array>
    <key>public.kern2.guillemotleft</key>
    <array>
      <string>guillemotleft</string>
      <string>guilsinglleft</string>
      <string>guillemotleft.case</string>
      <string>guilsinglleft.case</string>
    </array>
    <key>public.kern2.guillemotright</key>
    <array>
      <string>guillemotright</string>
      <string>guilsinglright</string>
      <string>guillemotright.case</string>
      <string>guilsinglright.case</string>
    </array>
    <key>public.kern2.hyphen</key>
    <array>
      <string>hyphen</string>
      <string>endash</string>
      <string>emdash</string>
    </array>
    <key>public.kern2.hyphen.case</key>
    <array>
      <string>hyphen.case</string>
      <string>endash.case</string>
      <string>emdash.case</string>
    </array>
    <key>public.kern2.i</key>
    <array>
      <string>i</string>
      <string>j</string>
      <string>igrave</string>
      <string>iacute</string>
      <string>icircumflex</string>
      <string>idieresis</string>
      <string>itilde</string>
      <string>imacron</string>
      <string>ibreve</string>
      <string>iogonek</string>
      <string>dotlessi</string>
      <string>ij</string>
      <string>jcircumflex</string>
      <string>uni01D0</string>
      <string>uni0237</string>
      <string>uni0268</string>
      <string>uni1ECB</string>
      <string>uni006A0301</string>
    </array>
    <key>public.kern2.l</key>
    <array>
      <string>l</string>
      <string>lacute</string>
      <string>uni013C</string>
      <string>lcaron</string>
      <string>ldot</string>
      <string>uni1E37</string>
      <string>uni1E39</string>
      <string>uni1E3B</string>
    </array>
    <key>public.kern2.lslash</key>
    <array>
      <string>lslash</string>
    </array>
    <key>public.kern2.lslash.ss02</key>
    <array>
      <string>lslash.ss02</string>
    </array>
    <key>public.kern2.m</key>
    <array>
      <string>m</string>
      <string>n</string>
      <string>p</string>
      <string>r</string>
      <string>ntilde</string>
      <string>nacute</string>
      <string>uni0146</string>
      <string>ncaron</string>
      <string>eng</string>
      <string>racute</string>
      <string>uni0157</string>
      <string>rcaron</string>
      <string>uni01F9</string>
      <string>uni0272</string>
      <string>uni03BC</string>
      <string>uni1E3F</string>
      <string>uni1E41</string>
      <string>uni1E43</string>
      <string>uni1E45</string>
      <string>uni1E47</string>
      <string>uni1E49</string>
      <string>uni1E57</string>
      <string>uni1E5B</string>
      <string>uni1E5D</string>
      <string>uni1E5F</string>
    </array>
    <key>public.kern2.nine</key>
    <array>
      <string>nine</string>
    </array>
    <key>public.kern2.nine.pnum</key>
    <array>
      <string>nine.osf</string>
      <string>nine.tosf</string>
    </array>
    <key>public.kern2.one</key>
    <array>
      <string>one</string>
    </array>
    <key>public.kern2.one.pnum</key>
    <array>
      <string>one.osf</string>
      <string>one.tosf</string>
    </array>
    <key>public.kern2.ordfeminine</key>
    <array>
      <string>ordfeminine</string>
    </array>
    <key>public.kern2.ordmasculine</key>
    <array>
      <string>ordmasculine</string>
    </array>
    <key>public.kern2.parenright</key>
    <array>
      <string>parenright</string>
    </array>
    <key>public.kern2.parenright.case</key>
    <array>
      <string>parenright.case</string>
    </array>
    <key>public.kern2.periodcentered</key>
    <array>
      <string>periodcentered</string>
    </array>
    <key>public.kern2.periodcentered.case</key>
    <array>
      <string>periodcentered.case</string>
    </array>
    <key>public.kern2.question</key>
    <array>
      <string>question</string>
    </array>
    <key>public.kern2.questiondown</key>
    <array>
      <string>questiondown</string>
    </array>
    <key>public.kern2.questiondown.case</key>
    <array>
      <string>questiondown.case</string>
    </array>
    <key>public.kern2.quotedbl</key>
    <array>
      <string>quotedbl</string>
      <string>quotesingle</string>
      <string>minute</string>
      <string>second</string>
    </array>
    <key>public.kern2.quoteleft</key>
    <array>
      <string>quoteleft</string>
      <string>quotedblleft</string>
    </array>
    <key>public.kern2.quoteright</key>
    <array>
      <string>quoteright</string>
      <string>quotedblright</string>
    </array>
    <key>public.kern2.s</key>
    <array>
      <string>s</string>
      <string>sacute</string>
      <string>scircumflex</string>
      <string>scedilla</string>
      <string>scaron</string>
      <string>uni0219</string>
      <string>uni1E61</string>
      <string>uni1E63</string>
    </array>
    <key>public.kern2.seven</key>
    <array>
      <string>seven</string>
    </array>
    <key>public.kern2.seven.pnum</key>
    <array>
      <string>seven.osf</string>
      <string>seven.tosf</string>
    </array>
    <key>public.kern2.six</key>
    <array>
      <string>six</string>
    </array>
    <key>public.kern2.six.pnum</key>
    <array>
      <string>six.osf</string>
      <string>six.tosf</string>
    </array>
    <key>public.kern2.slash</key>
    <array>
      <string>slash</string>
    </array>
    <key>public.kern2.space</key>
    <array>
      <string>space</string>
      <string>uni00A0</string>
    </array>
    <key>public.kern2.t</key>
    <array>
      <string>t</string>
      <string>uni0163</string>
      <string>tcaron</string>
      <string>tbar</string>
      <string>uni021B</string>
      <string>uni1E6B</string>
      <string>uni1E6D</string>
      <string>uni1E6F</string>
      <string>uni1E97</string>
    </array>
    <key>public.kern2.three</key>
    <array>
      <string>three</string>
    </array>
    <key>public.kern2.three.pnum</key>
    <array>
      <string>three.osf</string>
      <string>three.tosf</string>
    </array>
    <key>public.kern2.trademark</key>
    <array>
      <string>trademark</string>
    </array>
    <key>public.kern2.two</key>
    <array>
      <string>two</string>
    </array>
    <key>public.kern2.two.pnum</key>
    <array>
      <string>two.osf</string>
      <string>two.tosf</string>
    </array>
    <key>public.kern2.u</key>
    <array>
      <string>u</string>
      <string>ugrave</string>
      <string>uacute</string>
      <string>ucircumflex</string>
      <string>udieresis</string>
      <string>utilde</string>
      <string>umacron</string>
      <string>ubreve</string>
      <string>uring</string>
      <string>uhungarumlaut</string>
      <string>uogonek</string>
      <string>uni01D4</string>
      <string>uni0289</string>
      <string>uni1EE5</string>
    </array>
    <key>public.kern2.underscore</key>
    <array>
      <string>underscore</string>
    </array>
    <key>public.kern2.uni00B2</key>
    <array>
      <string>uni00B2</string>
      <string>uni00B3</string>
      <string>uni00B9</string>
      <string>uni2070</string>
      <string>uni2074</string>
      <string>uni2075</string>
      <string>uni2076</string>
      <string>uni2077</string>
      <string>uni2078</string>
      <string>uni2079</string>
    </array>
    <key>public.kern2.uni018F</key>
    <array>
      <string>uni018F</string>
    </array>
    <key>public.kern2.uni0190</key>
    <array>
      <string>uni0190</string>
    </array>
    <key>public.kern2.uni0259</key>
    <array>
      <string>uni0259</string>
    </array>
    <key>public.kern2.uni025B</key>
    <array>
      <string>uni025B</string>
    </array>
    <key>public.kern2.uni2080</key>
    <array>
      <string>uni2080</string>
      <string>uni2081</string>
      <string>uni2082</string>
      <string>uni2083</string>
      <string>uni2084</string>
      <string>uni2085</string>
      <string>uni2086</string>
      <string>uni2087</string>
      <string>uni2088</string>
      <string>uni2089</string>
    </array>
    <key>public.kern2.v</key>
    <array>
      <string>v</string>
      <string>uni1E7D</string>
    </array>
    <key>public.kern2.w</key>
    <array>
      <string>w</string>
      <string>wcircumflex</string>
      <string>wgrave</string>
      <string>wacute</string>
      <string>wdieresis</string>
    </array>
    <key>public.kern2.x</key>
    <array>
      <string>x</string>
    </array>
    <key>public.kern2.y</key>
    <array>
      <string>y</string>
      <string>yacute</string>
      <string>ydieresis</string>
      <string>ycircumflex</string>
      <string>uni0233</string>
      <string>ygrave</string>
      <string>uni1EF9</string>
    </array>
    <key>public.kern2.z</key>
    <array>
      <string>z</string>
      <string>zacute</string>
      <string>zdotaccent</string>
      <string>zcaron</string>
      <string>uni1E93</string>
    </array>
    <key>public.kern2.zero</key>
    <array>
      <string>zero</string>
      <string>zero.zero</string>
    </array>
    <key>public.kern2.zero.dnom</key>
    <array>
      <string>zero.dnom</string>
      <string>one.dnom</string>
      <string>two.dnom</string>
      <string>three.dnom</string>
      <string>four.dnom</string>
      <string>five.dnom</string>
      <string>six.dnom</string>
      <string>seven.dnom</string>
      <string>eight.dnom</string>
      <string>nine.dnom</string>
    </array>
    <key>public.kern2.zero.numr</key>
    <array>
      <string>zero.numr</string>
      <string>one.numr</string>
      <string>two.numr</string>
      <string>three.numr</string>
      <string>four.numr</string>
      <string>five.numr</string>
      <string>six.numr</string>
      <string>seven.numr</string>
      <string>eight.numr</string>
      <string>nine.numr</string>
    </array>
    <key>public.kern2.zero.pnum</key>
    <array>
      <string>zero.osf</string>
      <string>zero.tosf</string>
    </array>
  </dict>
</plist>
